<div id="step1" class="carousel-item active">
  <form id="taginfo">
    <div class="row">
      <div class="col-md-12">
        <h3>{{ site.data[page.language].sections.1.steps.1.title }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        {% include textinput.html %}
      </div>
      <div class="col-lg-4">
        {% include imageselect.html %}
      </div>
      <div class="col-lg-4">
        {% include preview.html %}
      </div>
    </div>
  </form>
</div>
