<div class="card">
  <div class="card-block">
    <h4 class="card-title>"><i class="icon-font-left icon-pencil"></i> {{ site.data[page.language].sections.1.steps.1.textinput.title }}</h4>
  </div>
  <div class="card-block">
    <fieldset class="form-group">
      <label for="line1">{{ site.data[page.language].sections.1.steps.1.textinput.line1 }}</label>
      <input id="line1" name="line1" type="text" class="form-control line" maxlength="18" required='required' />
    </fieldset>

    <fieldset class="form-group">
      <label for="line2">{{ site.data[page.language].sections.1.steps.1.textinput.line2 }}</label>
      <input id="line2" name="line2" type="text" class="form-control line" maxlength="18" />
    </fieldset>

    <fieldset class="form-group">
      <label for="line3">{{ site.data[page.language].sections.1.steps.1.textinput.line3 }}</label>
      <input id="line3" name="line3" type="text" class="form-control line" maxlength="18" />
    </fieldset>
  </div>
</div>
